table {
    border-spacing: 0px;
    border-collapse: collapse;
}
.userTable {
    width: 900px;	
}
.userTable th {
    border-bottom: solid 1px black;
    background-color: #D3D3D3;	
}

.col1 {width: 80px;}
.col2 {width: 80px;}
.col3 {width: 85px;}
.col4 {width: 80px;}
.col5 {width: 175px;}
.col6 {width: 80px}

.userTable tbody tr td{
    padding-right: 5px;
    padding-left: 5px;	
}

.odd {

}
.even {
    background-color: #EEE;
}

.error {
    color: red;
}