<?xml version='1.0' encoding='UTF-8'?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- The basic information here was pieced together from other JSF examples out there as I collected info to get this to work. -->
    <display-name>tutorial-jsf</display-name>
    <description>Small jsf example to play with</description>
    <!-- for more advice: https://java.net/projects/mojarra/lists/commits/archive/2011-05/message/5 -->
    <!-- Thank you, Ed Burns! -->
    <context-param>
        <description>Valid values are: Development, UnitTest, SystemTest, or Production.</description>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>pages/index.jsf</welcome-file>
    </welcome-file-list>
</web-app>
